block vars

doctype html
html
  head
    title wachtmeister | #{pagetitle}
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    // block scripts
    block style
    
  body
    include navbar
    include flash
    
    block content 
